---
const description = "404";
import '../styles/global.css';
---
<layout>
    <div class="lost">
        <div class="gif">
            <img width="558" height="492" alt="PlayingPossum" src="/graceDed.png"/>
        </div>
        <h1 class="lost__header">{ description }</h1>
        <p class="lost__body">Possum found. Page not found.</p>
        <p>
            <a class="lost__link" href="/">Return Home</a>
        </p>
    </div>
</layout>

