---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Possum Place";
---
<Layout pageTitle={pageTitle}>
    
    <h1>Stolen Goods</h1>
    <span class="badge">Software Engineer</span>
    
    <h2>About</h2>
    <p>
        I'm Stolen Goods! I'm a Computer Science Master's student who likes games. 
        You might know me for the game design work I did for <a href="https://warsaken.cards/collection?s=setid:002">Warsaken Set 2</a> - I also did some designs for Set 4 and programming work for Eclectic Nerds!
    </p>
    <p>
        This site, like many sites, is perpetually under construction, and is currently maintained during my busy degree program. Check back for updates later!
    </p>
    
    <h2>Interests</h2>
    <p>
        I like Magic: The Gathering and make my own custom cards for it! Check those out <a href="https://mega.nz/folder/zL52ybZb#WFvQqXmx9pqbbOargWUMfw">here</a>!
        <br>
        I also design my own characters! See a gallery <a href="https://mega.nz/folder/OSoCyBba#4NoVjWJ8puZXNS1q4WELMw">here</a>! Self-hosted galleries pending.
        <br>
        Beyond that, I'm currently enjoying Team Fortress 2, Baldur's Gate 3 and D&D in general, Dropout, and a smattering of board games.
    </p>

    <h2>Possums?</h2>
    <div class = "center">
        <img width="200" height="200" src="/Emotes/graceHug_crop.png">
    </div>
</Layout>

